{% extends 'vehicle/adminbase.html' %}
{% block content %}

<!-- Main content -->
<div class="wrapper">

  <!-- Table start -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-center">
          <h3 class="text-danger">Approve Enquiry Made By Customer</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Vehicle Name</th>
                  <th scope="col">Vehicle Category</th>
                  <th scope="col">Vehicle Number</th>
                  <th scope="col">Problem Description</th>
                  <th scope="col">Approve</th>
                </tr>
              </thead>
              <tbody>
                {% for r in enquiry %}
                  <tr>
                    <td>{{ r.vehicle_name }}</td>
                    <td>{{ r.category }}</td>
                    <td>{{ r.vehicle_no }}</td>
                    <td>{{ r.problem_description }}</td>
                    <td>
                      <a href="{% url 'approve-request' r.id %}" class="text-danger" style="text-decoration:none; font-size:1.5rem;">
                        &#10004;
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table end -->

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!-- End main content -->

{% endblock content %}
